
<table>
	<tr>
		<td>HA verlassen</td>
		<td>Rueckkehr</td>
		<td>Tage</td>
		<td>Stunden</td>
		<td>Bemerkung</td>
		<td>Loeschen</td>
	</tr>
	<% @taxes.each do |tax| %>
	<tr>
		<td><%= tax.left.strftime("%d.%m.%Y %H:%M")%></td>
		<td><%= tax.return.strftime("%d.%m.%Y %H:%M") %></td>
		<td><%= tax.days %></td>
		<td><%= tax.hours %></td>
		<td><%= tax.comment %></td>
		<td><%= link_to 'Loeschen', tax_path(tax), :method => :delete %></td>
	</tr>
	<% end %>
</table>

<%= link_to "Neuer Eintrag", new_tax_path%>
